/* Importa sua fonte personalizada */
@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Customizações globais */
:root {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;

  color: #171a1f;
  background-color: #d0ced1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

.my-custom-error-toast {
  background-color: white !important;
  color: #a60b0b !important;
  font-weight: 500 !important;
  border: 1px solid #a60b0b;
}

.my-custom-error-toast .Toastify__progress-bar {
  background: #a60b0b !important;
}

.my-custom-success-toast {
  background-color: white !important;
  color: #1e707b !important;
  font-weight: 500 !important;
  border: 1px solid #1e707b;
}

.my-custom-success-toast .Toastify__progress-bar {
  background: #1e707b !important;
}
